<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Karthikeyan Venkatesan</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!-- 
Easy Profile Template
http://www.templatemo.com/tm-467-easy-profile
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/templatemo-blue.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="../images/tm-easy-profile.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<hr>
				<h1 class="tm-title bold shadow">Hi, I am Karthikeyan Venkatesan</h1>
				<h1 class="white bold shadow">Cybersecurity Expert</h1>
                  <a href="resume.pdf" class="btn btn-primary">Download Resume (PDF)</a>
			</div>
		</div>
	</div>
</header>

<!-- about and skills section -->
<section class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h3 class="accent">Details</h3>
				<h2>Profile</h2>
				<p>I am a cybersecurity professional with 8 years of academic experience, including 1+ year of industry experience through internships. Skilled in networking, hardware, and research. Proficient in Python, Bash, Java (Android), XML, Kotlin, HTMLm CSS, JS and C++.</p>
            </div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Skills</h2>
				<strong>Python</strong>
				<span class="pull-right">90%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
					</div>
				<strong>Bash</strong>
				<span class="pull-right">65%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>C++</strong>
				<span class="pull-right">90%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
                <strong>Kotlin</strong>
				<span class="pull-right">50%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
                <strong>java (android)</strong>
				<span class="pull-right">90%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
                <strong>XML</strong>
				<span class="pull-right">90%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
                <strong>HTML</strong>
				<span class="pull-right">90%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
                <strong>CSS</strong>
				<span class="pull-right">50%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
                <strong>JS</strong>
				<span class="pull-right">30%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="education">
				<h2 class="white">Education</h2>
					<div class="education-content">
						<h4 class="education-title accent">Master of cybersecurity *cyber defence)</h4>
							<div class="education-school">
								<h5>University of Queensland </h5><span></span>
								<h5>2020-2022</h5>
							</div>
                        <div class="education-content">
						<h4 class="education-title accent">Advanced Diploma in information Security (ADIS)</h4>
							<div class="education-school">
								<h5>INNOBUZZ </h5><span></span>
								<h5>2019-2020</h5>
							</div>
                            <div class="education-content">
						<h4 class="education-title accent">Bachelor of engineering (CSE)</h4>
							<div class="education-school">
								<h5>LNCTE </h5><span></span>
								<h5>2015-2019</h5>
							</div>
					</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="skills">
				<h2>skills</h2>
					<ul>
						<li>Blue Teaming</li>
						<li>Red Teaming</li>
						<li>Purple Teaming</li>
						<li>Leadership</li>
                        <li>Presentation</li>
                        <li>15 Programming Languages</li>
					</ul>
			</div>
		</div>
	</div>
</section>

<!-- contact and experience -->
<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h2>Contact</h2>
					<p><i class="fa fa-map-marker"></i> Plot 6, Sahakar nagar, Public Society, Nagpur</p>
					<p><i class="fa fa-phone"></i> +918007865260</p>
					<p><i class="fa fa-envelope"></i> kar120997@gmail.com</p>
					<p><i class="fa fa-envelope"></i> Kvenkatesan@jdcoem.ac.in</p>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
				<h2 class="white">Work Experiences</h2>
					<div class="experience-content">
						<h4 class="experience-title accent">Assistant Professor</h4>
						<h5>JD College of Engineering and management</h5><span></span>
						<h5>2025 - present</h5>
						<h4 class="experience-title accent">Cybersecurity Intern</h4>
						<h5>Eazyml</h5><span></span>
						<h5>2025</h5>
                        <h4 class="experience-title accent">Cybersecurity Intern</h4>
						<h5>GroundProbe</h5><span></span>
						<h5>2021-2022</h5>
						<h4 class="experience-title accent">Cloud Architect Intern</h4>
						<h5>Cybrom technologies</h5><span></span>
						<h5>2018-2019</h5>
                    </div>
			</div>
		</div>
	</div>
</section>


<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="experience">
                <h2 class="white">Voluntary Experiences</h2>
					<div class="experience-content">
						<h4 class="experience-title accent">President</h4>
						<h5>UQ Cybersquad</h5><span></span>
						<h5>2024 - 2025</h5>
						<h4 class="experience-title accent">Secretary</h4>
						<h5>UQ Reality Labs</h5><span></span>
						<h5>2024 - 2025 </h5>
                        <h4 class="experience-title accent">Assistant Research</h4>
						<h5>LNCTE</h5><span></span>
						<h5>2018-2019</h5>
                    </div>
			</div>
            </div>
		</div>
</section>


<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="skills">

                <h2>Conferences Attended</h2>
					<ul>
						<li>ICBDCCIS 2019</li>
						<li>UQBS Colloqium 2023</li>
						<li>ANZAM 2023</li>
						<li>UQ CSRC 2023</li>
                        <li>Crickeycon IX 2024</li>
                        <li>Auscert 2024</li>
                        <li>Bsides Brisbane 2024</li>
					</ul>

            </div>
			</div>
            </div>
		</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="experience">
                <h2 class="white">Academic Contributions</h2>
					<div class="experience-content">
                          <h2 class="white">Papers Published</h2>
					<div class="experience-content">
                        <h5>"Offline AI Bot Technique..." in International Journal of Scientific and Technology Research 2019</h5><span></span>
                    </div>
          </div>
            </div>
		</div>
        </div>
</section>

<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="skills">

                <h2>References</h2>
					<ul>
						<li>Dr. Marie Boden (UQ)</li>
						<li>Prof. Gauangdong Bai (UQ)</li>
						</ul>

            </div>
			</div>
            </div>
		</div>
</section>
<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2025 Karthikeyan Venkatesan</p>
				<ul class="social-icons">
                    <li><a href="https://www.linkedin.com/in/karthikeyan-venkatesan/" class="fa fa-linkedin"></a></li>
					<li><a href="https://github.com/vkarthikeyan12" class="fa fa-github"></a></li>
					<li><a href="https://www.instagram.com/karthikeyan___venkatesan/" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.facebook.com/venkatesan.karthikeyan.9/" class="fa fa-facebook"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- javascript js -->	
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.backstretch.min.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>